@page
@model NuevaWeb.App.Frontend.Page.ListModel
@{
}

<h1>Grupos MisionTic - ciclo 3</h1>
<table class = "table">
    @foreach (var grupos in Model.GruposMision)
    {
        <tr>
            <td>@grupos</td>
        </tr>
    }
</table>